import React /* , {useState} */ from 'react';

/**
  * {{ properCase name }}
  * @return {JSX.Element}
  */
export function {{ properCase name }}(): JSX.Element {
  // const [state, setState] = useState(0);
  
  return (
    <div>{{ name }}</div>
  )
}